/* Dichiarazioni generali */
body {
    background-color: rgb(17, 17, 17);
    font-size: 3rem;
    font-family: 'Impact', Courier, monospace;
    color: #CCC;
    text-shadow: 0 1px 0 #000;
  }
  
  #container {
    margin: 150px auto;
    width: fit-content;
  }
  
  a {
    color: rgb(58, 12, 12);
    text-decoration: none;
    transition: color 0.5s;
  }
  
  a:hover {
    color: #FFF;
  }

  #indietro {
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #444444;
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #FFF;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6e6e6e;
  }
  
  .hidden {
    display: none;
  }

  /* Email */
#email-form {
    margin: 15px 0;
    text-align: center;
  }
  
  #email-form input, button {
    padding: 10px 20px;
    background-color: #444444;
    border: 0;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #FFF;
    transition: background-color 0.3s;
  }
  
  #email-form input[type="submit"] {
    cursor: pointer;
  }
  
  #email-form input[type="submit"]:hover {
    background-color: #6e6e6e;
  }
  
  .valida {
    color: #00ff00;
  }
  
  .non-valida {
    color: #ff0000;
  }